# =========================
# PyCharm / IntelliJ
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv
