# =========================
# PyCharm / IntelliJ
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv

exports
data/*
!data/hm_1_14_det.mat